# Python 缓存
__pycache__/
*.py[cod]
venv/
.env

# 排除原始庞大数据集目录（已压缩为分卷）
data/
train_data*/

# 巨大的模型权重
checkpoints*/
*.pdparams

# 允许上传分卷压缩包
!data_archive.zip
!data_archive.z*

# 系统与实验结果
.DS_Store
.vscode/
result.txt
submission.csv
